.GeneralLayout
  height 100%

  .HeaderContainer
    display block
    background HeaderBg
    color HeaderFg
    border 1px solid HeaderBg
    border-bottom 2px solid HeaderBorder

    h1
      font-weight 300
      font-size 1.5rem
      margin 15px 40px

  .MainContainer
    lost-utility clearfix
    height 100%

.FooterContainer
  height FooterHeight
  width 100%
  display block
  background FooterBg
  text-align center
  padding 10px 0
  font-size 0.8rem
  lost-utility clearfix
